
<!--main start page-->
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="intro-message">
                    <h1>Sumeet Dubey</h1>
                    <h3>Master in Computer Science Student</h3>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="assignment/index.html" class="btn btn-default btn-lg"><i class="fa fa-bar-chart fa-fw"></i> <span class="network-name">Assignment</span></a>
                        </li>
                        <li>
                            <a href="project/home.html" class="btn btn-default btn-lg"><i class="fa fa-line-chart fa-fw"></i> <span class="network-name">Project</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/sumeetddubey" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="https://docs.google.com/a/husky.neu.edu/document/d/158_chE_se9vGVXcncxCkpYehqHKYZDwh1iK1CVm6BWo/edit?usp=sharing" class="btn btn-default btn-lg"><i class="fa fa-google fa-fw"></i> <span class="network-name">Project Proposal </span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-section-a col-xs-12">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <div>
                    <h1>Experience</h1>
                </div>
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">ThinkLabs Inc. - Mumbai, India</h2>
                <h3 class="section-heading">Internship - Embedded Systems</h3>
                <ul class="lead">
                    <li>
                        Developed a line following robot that followed the track below it
                    </li>
                    <li>
                        Implemented on the AVR Atmega-128 chip and coded on Embedded-C
                    </li>
                    <li>
                        The deisgn included components such as sensors, displays and batteries
                    </li>
                </ul>
                 </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6 customImg">
                <img class="img-responsive img-thumbnail" src="img/EmbeddedSystems.jpg" alt="">
            </div>
        </div>
    </div>
</div>

<div class="content-section-b col-xs-12">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-6 col-sm-push-6">
                <div>
                    <h1>Projects</h1>
                </div>
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Secure Instant Messaging System
                    <i class="fa fa-user userIconCss"></i><i class="fa fa-user userIconCss"></i>
                </h2>
                <h3 class="section-heading">Network Security - Northeastern University, Boston</h3>
                <ul class="lead">
                    <li>
                        Developed an application for sending secure messages between multiple clients
                    </li>
                    <li>
                        Protected against network threats such as eavesdropping, online and offline password cracking,
                        denial of service and replay attacks.
                    </li>
                    <li>
                        Provided security features such as message authentication, password protection, perfect forward
                        secrecy and mutual client-server authentication
                    </li>
                </ul>
                <div class="row">
                    <div class="lead">
                        Language - Python
                    </div>
                    <div class="lead">
                        Git -
                        <a href="https://github.com/sumeetddubey/SecureInstantMessagingSystem">
                            <img class="btn-circle" src="img/github1.png">
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-lg-5 col-sm-6 col-sm-pull-6 customImg">
                <img class="img-responsive img-thumbnail" src="img/networkSecurity.jpg" alt="">
                <!--<span class="fa-stack fa-4x">-->
                    <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                    <!--<i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>-->
                <!--</span>-->
            </div>
        </div>
    </div>
</div>

<div class="content-section-c col-xs-12">
    <div class="container">
        <div class="row">
            <div>
                <h1>Technologies</h1>
            </div>
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <div class="col-xs-3">
                <i class="devicon-java-plain customIcon"></i>
                <h4 class="iconHeading lead">Java</h4>
            </div>
            <div class="col-xs-3">
                <i class="devicon-c-plain customIcon"></i>
                <h4 class="iconHeading lead">C</h4>
            </div>
            <div class="col-xs-3">
                <i class="devicon-cplusplus-plain customIcon"></i>
                <h4 class="iconHeading lead">C++</h4>
            </div>
            <div class="col-xs-3">
                <i class="devicon-python-plain customIcon"></i>
                <h4 class="iconHeading lead">Python</h4>
            </div>
        </div>
        <div class="row divSpacer">
            <div class="col-xs-3">
                <i class="devicon-csharp-plain customIcon"></i>
                <h4 class="iconHeading lead">C#</h4>
            </div>
            <div class="col-xs-3">
                <i class="devicon-linux-plain customIcon"></i>
                <h4 class="iconHeading lead">Linux</h4>
            </div>
            <div class="col-xs-3">
                <i class="devicon-ubuntu-plain customIcon"></i>
                <h4 class="iconHeading lead">Ubuntu</h4>
            </div>
            <div class="col-xs-3">
                <i class="devicon-android-plain customIcon"></i>
                <h4 class="iconHeading lead">Android</h4>
            </div>
        </div>
        <div class="row divSpacer">
            <div class="col-xs-3">
                <i class="devicon-html5-plain customIcon"></i>
                <h4 class="iconHeading lead">HTML5</h4>
            </div>
            <div class="col-xs-3">
                <i class="devicon-css3-plain customIcon"></i>
                <h4 class="iconHeading lead">CSS3</h4>
            </div>
            <div class="col-xs-3">
                <i class="devicon-bootstrap-plain customIcon"></i>
                <h4 class="iconHeading lead">Bootstrap</h4>
            </div>
            <div class="col-xs-3">
                <i class="devicon-dot-net-plain customIcon"></i>
                <h4 class="iconHeading lead">ASP.NET</h4>
            </div>
        </div>
        <div class="row divSpacer">
            <div class="col-xs-3">
                <i class="devicon-angularjs-plain customIcon"></i>
                <h4 class="iconHeading lead">AngularJs</h4>
            </div>
            <div class="col-xs-3">
                <i class="devicon-nodejs-plain customIcon"></i>
                <h4 class="iconHeading lead">NodeJs</h4>
            </div>
            <div class="col-xs-3">
                <i class="devicon-jquery-plain customIcon"></i>
                <h4 class="iconHeading lead">jQuery</h4>
            </div>
            <div class="col-xs-3">
                <i class="devicon-mongodb-plain customIcon"></i>
                <h4 class="iconHeading lead">mongoDb</h4>
            </div>
        </div>

    </div>
</div>

